
video.video-bg {
	position: fixed;
	width: 100%;
	z-index: -2;
}


section.intro-content {
	position: fixed;
	width: 100%;
	z-index: -1;
	background: none;
	.header-logo {
		max-width: 320px;
		height: 120px;
		margin: auto;
		text-align: center;
		position: absolute;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		h1 {
			margin: 0px;
		}
		h3 {
			margin-top: 50px;
		}
		@media #{$medium} {
			bottom: 40px;
			height: 180px;
			h3 {
				margin-top: 100px;
			}
		}
		@media #{$large} {
			bottom: 120px;
			height: 240px;
		}
	}
}

header#header {
.projects-title {
	@include column(12);
	text-align: center;
	margin-top: 20px;
}
	ul.project-links {
		@include column(12);
		@media #{$medium} {
			text-align: justify;
			&:after {
				width: 100%;
				display: inline-block;
				content: "";
			}
		}
		margin-top: 20px;
		li {
			display: inline-block;
			padding: 8px 15px;
			border: 2px solid $black;
			border-radius: 5px;
			text-align: center;
			margin-bottom: 15px;
			transition: all 0.5s linear;
			&.active {
				background: $navy;
				border: 2px solid $navy;
				a {
					color: $white;
				}
			}
			@media #{$small} {
				width: 48%;
				float: left;

				&:nth-of-type(2n) {
					margin-left: 4%;
				}
				&:nth-of-type(2n + 1) {
					clear: left;
				}
			}
		}

	}

}