$large: "only screen and (min-width: 960px)";
$medium: "only screen and (min-width: 769px)";
$small: "only screen and (max-width: 768px)";


$ltgrey: #cccccc;
$black: #000000;
$white: #ffffff;
$mdgrey: #666666;
$dkgrey: #999999;
$xltgrey: #dddddd;
$xdkgrey: #2a2a2a;
$red: #ff0000;
$cyan: #00e2e2;
$green: #8EA062;
$navy: #000066;